html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
    background-color: rgb(27, 27, 27);
}

#foremostContainer {
    width: 100%;   /* ← viewport width */
    height: 100%;  /* ← viewport height */
    margin: 0;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#canvasBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#characterContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

#innerContainer {
    position: absolute;
    width: 25.15vw;
    height: auto;  /* ← Deixa o conteúdo definir a altura */
    top: 4.2vh;
    left: 11.3vw;
}

#healthBarContainer {
    position: relative;
    width: 100%;
    height: 1.5vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.5% 100%);
}

#healthBar1 {
    width: 100%;
    height: 44%;
    background-color: rgb(0, 255, 200);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar1.yellow {
    background-color: rgb(255, 230, 0);
} #healthBar1.red {
    background-color: rgb(206, 0, 0);
}

#healthBar2 {
    width: 100%;
    height: 29%;
    background-color: rgb(150, 255, 230);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar2.yellow {
    background-color: rgb(245, 245, 180);
} #healthBar2.red {
    background-color: rgb(255, 186, 186);
}

#healthBar3 {
    width: 100%;
    height: 34%;
    background-color: rgb(3, 145, 114);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
} #healthBar3.yellow {
    background-color: rgb(185, 143, 3);
} #healthBar3.red {
    background-color: rgb(146, 0, 0);
}

#healthBarBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 68, 63);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
} #healthBarBackground.yellow {
    background-color: rgb(46, 45, 41);
} #healthBarBackground.red {
    background-color: rgb(46, 31, 31);
}

#healthBarBloodContainer {
    position: absolute;
    width: 100%;
    height: 109%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1.2% 100%);
}

#healthBloodBar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 7, 7);
    transition: width 0.6s;
}

#energyBarContainer {
    position: relative;
    margin-top: 1.61vh;
    left: 0.55vw;
    width: 97.8%;

    height: 0.8vh;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
}

#energyBar1 {
    width: 100%;
    background-color: rgb(132, 0, 255);
    height: 70%;
}

#energyBar2 {
    width: 100%;
    height: 30%;
    background-color: rgb(70, 0, 136);
}

#energyBarBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(27, 0, 53);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
    z-index: -1;
}

#expBarsContainer {
    position: relative;
    margin-top: 94px;
    width: 211px;
    height: 36px;
    margin-left: 315px;
    clip-path: polygon(48% 0%, 100% 0, 87% 92%, 17% 90%, 0 0);
}

#expBar1 {
    background-color: rgb(49, 192, 36);
    height: 100%;
    width: 0;
    position: absolute;
}